:root {
    --ocean: #4e5f7b;
    --dark-green: rgb(22, 160, 133);
}

.btn {
    color: #07ff8be5;
    font-weight: 900;
    background: #ffe590;
    border: 3px solid #07ff8be5;
    border-radius: 30px;
    width: 100%;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    /* content: "NEON"; */

}

.btn:hover {
    border-radius: 0;
    background-color: #ff00b2;
    color: #ffffff;
    border: 0;
    
    /*  */
}
.btn:before{
     content: "NEON";
}
.btn:hover::before{
    content: "";
}
.btn:hover::after{
    content: "ANGLE BG";
}

.btn-holder {
    padding: 10px;
    background: #ffe590;
    width: 150px;
    height: 90%;
    margin: 200px auto;
}
